body{
    font-family: 'Roboto', ;
}
h1{
    text-align: left;
    font-size: 60px;
}

h1 span{
    color: antiquewhite;
}

p span{
    text-decoration: underline antiquewhite;
}

.fonction{
    text-align: left;
    margin-top: -20px;
    font-size: 25px;
}

h2{
    margin-left: -30px;
    font-size: 30px;
}

h2 i{
    padding-right: 25px;
    font-size: 35px;
    color: antiquewhite;
}

h3{
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.place{
    font-size: large;
}

.nav h2{
    background-color: rgb(255, 0, 242);
    margin-left: -30px;
    width: 380px;
    text-align: center;
    color: antiquewhite;
}
 
body {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.nav{
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 350px;
    background-color: antiquewhite;
}

.icones{
    text-align: center;
    font-size: 50px;
}

.icones i{
    border-radius: 50%;
    border:solid black 2px;
    margin: 10px;
    padding: 10px;
}

nav p{
    margin-left: 30px;
    margin-right: 20px;
    line-height: 2;
    padding-top: 5px;
}

section{
    display: flex;
    margin-left: 100px;
    flex-direction: column    
}

.container{
    width: 800px;
    display: flex;    
}

.icone-niv {
    display:flex ;
    flex-direction: column;
    margin-right: 30px;
}

.icone-niv1{
    margin-top: 70px;
    font-size: 5px;
    border-radius: 50%;
    border: antiquewhite 2px solid;
    padding: 5px;
    color: antiquewhite;
}

.icone-niv2{
    margin-top: 170px;
    color: antiquewhite;
}

.date-niv{
    width: 100px;
}

.date-niv1{
    margin-top: 70px;
}

.date-niv2{
    margin-top: 150px;
}

.container-niv{
    margin-left: 100px;
}

.niv1{
    margin-top: 60px;
}

.niv2{
    margin-top: 80px;
}

.icone-exp{
    margin-right: 30px;
    color: antiquewhite;
}

.icone-exp1{
    margin-top: 60px;
    font-size: 5px;
    border-radius: 50%;
    border: antiquewhite 2px solid;
    padding: 5px;
    color: antiquewhite;
}

.icone-exp2{
    margin-top: 155px;
}

.icone-exp3{
    margin-top: 155px;
}

.icone-exp4{
    margin-top: 165px;
}

.date{
    width: 120px;
}

.date-exp1{
    margin-top: 60px;
}

.date-exp2{
    margin-top: 135px;
}

.date-exp3{
    margin-top: 135px;
}

.date-exp4{
    margin-top: 150px;
}

.container-exp{
    margin-left: 100px;
}

.expPro1{
    margin-top: 55px ;
}

.expPro2{
    margin-top: 55px;
}

.expPro3{
    margin-top: 50px;
}

.expPro4{
    margin-top: 55px;
}

.liseret{
    outline-style: solid;
    color: antiquewhite;
    margin-left: -30px;   
}

.lord_boros{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 60px;
    margin-top: 50px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.rcmd2{
    margin-left: 50px;
}

@media screen and (max-width:1100px){
    body{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:360px){
    body{
        display: block;
    }
    .container{
        width: 100%;
    }
    section{
        margin-left: 10%;
    }
    .icone-niv{
        margin-left: -20px;
    }
    .icone-niv2{
        margin-top: 180px;
    }
    .date-niv{
        padding-right: 5%;
    }
    .date-niv2{
        margin-top: 160px;
    }
    .container-niv{
        margin-left: auto;
    }
    .niv2{
        margin-top: auto;
    }
    .container-exp{
        margin-left: auto;
    }
    .date{
        padding-right: 5%;
    }
    .icone-exp{
        margin-left: -20px;
    }
    .icone-exp1{
        margin-top: 60px;
    }
    .icone-exp2{
        margin-top: 185px;
    }
    .icone-exp3{
        margin-top: 225px;
    }
    .icone-exp4{
        margin-top: 200px;
    }
    .date-exp1{
        margin-top: 60px;
    }
    .date-exp2{
        margin-top: 145px;
    }
    .date-exp3{
        margin-top: 190px;
    }
    .date-exp4{
        margin-top: 200px;
    }
}
