h1 {
    width: 350px;
    text-align: center;
    background-color: aqua

}

.titre{
    background-color: white;
}

nav p{
    margin-left: 40px;
}

.date{
    margin: 60px
}

.date2{
    width: 90px;
    margin: 100px;
    margin-top: 50px
}

h3 {
    text-align: left;
    flex-direction: column;
}

.devellopement h3 {
    margin-left: 30px;
    margin-top: 40px;
}

.devellopement p{
    margin-left: 30px
}

.devellopement{

}

body {
    display: flex;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    height: 100%;
    width: 350px;
    position: fixed;
    background-color: antiquewhite;
}

section {
    display: flex;
    margin-left: 400px;
    flex-direction: column
}

.container {
    width: 800px;
    display: flex;
}

ul {
    width: 150px
}

p {
    padding-top: 5px;
}

.liseret {
    outline-style: solid;

}

.lord_boros {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 60px;
    margin-top: 50px
}

.icones {
    letter-spacing: 20px;
    text-align: center;
}

